<%= simple_form_for @booking_category, html: {class: "form"} do |f| %>
  <div class="form">
    <div class="col-xs-12">

    	<h1><%= @booking_category.form_header_text %></h1>
    	<p><%= image_tag @booking_category.picture.url(:small), class: "photo" %></p>
    
      <div class="input">
        <label for="avatar">JPEG Photo (Minimum 360x450):</label>
        <input id="avatar" type="file" name="@booking_catogery[picture]" value="">
      </div>
  
 	
    </div>
  
    <div class="col-xs-12 text-center">
  
      
        <%= f.input :title, html: { class: "form-group" }, input_html: { class: "form-control" } %>

  

        <%= f.input :description, html: { class: "form-group" }, input_html: { class: "form-control" } %>

    
        <div class="form-actions form-group submit">
          <%= f.submit @booking_category.button_text %>
        </div>

    </div>
  </div>
<% end %>