<figure class="figure">
  <%= image_tag(booking_category.picture.url(:small), class: "image", alt: booking_category.title) %>
  <figcaption class="">
    <h1>
      <%= link_to booking_category.title, booking_category_url(booking_category), class: "h1-a category-link" %>
      <%= link_to edit_booking_category_url(booking_category) do  image_tag("edit-icon-32.png", class: "edit-icon") end if current_user_is_admin? %>
    </h1>
   
    
    <ul class="list-group">
      <% category_bookings.order(:position).each do |booking| %>
    		<li class="list-group-item blurb">
        	<%= link_to booking.title, booking.url %> <%= link_to edit_booking_url(booking), class: "edit-link" do %>
          <i class="fa fa-pencil-square-o"></i>
          <% end if current_user_is_admin? %>
        </li>
      <% end %>
  		<li class="list-group-item blurb">
      	<%= link_to new_booking_category_booking_path(booking_category), class: "edit-link" do %>
          <i class="fa fa-plus-circle"></i>
        <% end if current_user_is_admin? %>
      </li>
    </ul>
  </figcaption>
</figure>
 



