<% @active_booking_categories.each do |category| %>
  <div class="no-image">
  	<h1><%= link_to category.title, booking_category_url(category), class: "h1-a" %> <%= link_to edit_booking_category_url(category) do  image_tag("edit-icon-32.png", class: "edit-icon") end if current_user_is_admin? %></h1>
  	<ul>
      <% category.bookings.order(:position).each do |booking| %>
    		<li>
          <a href="<%= booking.url %>"><%= booking.title %></a>
          <% if false #current_user && current_user_is_admin? %>
            <a href="<%= edit_booking_url(booking) %>">
              <%= image_tag("edit-icon-32.png", class: " left") %>
            </a>
          <% end %>
        </li>
      <% end %>
  	</ul>
  </div>
<% end %>