<% @active_booking_categories.each do |category| %>
  <div class="no-image">
  	<h1><%= category.title %></h1>
  	<ul>
      <% category.bookings.order(:position).each do |booking| %>
    		<li>
          <a href="<%= booking.url %>"><%= booking.title %></a>
          <% if current_user && current_user_is_admin? %>
            <a href="<%= edit_booking_url(booking) %>">
              <%= image_tag("edit-icon-32.png", class: " left") %>
            </a>
          <% end %>
        </li>
      <% end %>
  	</ul>
  </div>
<% end %>