<div class="content">
  <form action="<%= users_url %>" method="post">
  	<%= auth_token %>
  	<h1>New Agent</h1>
  	<p>To create a new profile, enter the email address for the new agent to
  		login with, such as "example@gmail.com.</p>
      
  	<div class="input">
      <label for="newUser">Email</label>
  		<input id="newUser" type="text" name="user[email]" value="<%= user.email if user %>">
    </div>
    
    <div class="input">
      <label for="first-name">First Name</label>
  		<input id="first-name" type="text" name="user[first_name]" value="<%= user.first_name if user %>">
    </div>
    
    <div class="input">
      <label for="last-name">Last Name</label>
  		<input id="last-name" type="text" name="user[last_name]" value="<%= user.last_name if user %>">
    </div>
    
  	<div class="submit">
      <input class="long-submit" type="submit">
    </div>
  </form>
</div>