<%= render "facebook_auth" %>

<div class="form">

  <form class="form" action="<%= user_url(@user) %>" enctype="multipart/form-data" method="post">
	
  	<input type="hidden" name="_method" value="put"/>
  	<%= auth_token %>
  
  	<div class="col-xs-12 col-sm-6 row-padding">
  		<h1 class="text-center"><%= @user.name %></h1>
  		<p><%= image_tag @user.avatar.url(:small), class: "photo photo-sm" %></p>
      
      <div class="input form-group">
        <label for="avatar">JPEG Photo (Minimum 360x450):</label>
        <input id="avatar" class="form-control" type="file" name="user[avatar]" value="">
      </div>
    
    	<div class="submit form-group">
        <input class="btn" type="submit">
      </div>
  	</div>
  
  	<div class="col-xs-12 col-sm-6 row-padding">
  		<h1 class="text-center">Contact Info</h1>
    
      <div class="input form-group">
        <label for="work">Work Phone</label>
        <input id="work" class="form-control" type="text" name="user[work_phone]" value="<%= @user.phone_format(:work_phone) %>">
      </div>
    
      <div class="input form-group">
        <label for="mobile">Mobile Phone</label>
        <input class="form-control" id="mobile" type="text" name="user[mobile_phone]" value="<%= @user.phone_format(:mobile_phone) %>">
      </div>
    
      <div class="input form-group">
        <label for="home">Home Phone</label>
        <input class="form-control" id="home" type="text" name="user[home_phone]" value="<%= @user.phone_format(:home_phone) %>">
      </div>
    
      <div class="input form-group">
        <label for="fax">Fax</label>
        <input class="form-control" id="fax" type="text" name="user[fax]" value="<%= @user.phone_format(:fax) %>">
      </div>
    
      <div class="input form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" name="user[email]" value="<%= @user.email %>">
      </div>
    
      <div class="input form-group">
        <label for="email-confirmation">Confirm Email</label>
        <input class="form-control" id="email-confirmation" type="text" name="email_confirmation" value="<%= %>">
      </div>
  	</div>
  
  	<div class="col-xs-12 col-sm-6 row-padding">
  		<h1 class="text-center">Biography</h1>
    
  		<div class="input form-group">
        <label for="biography">Biography</label> 
  			<textarea class="form-control" id="biography" name="biography" rows="10" cols="33"><%= @user.bio %></textarea>
      </div>
      
    	<div class="submit long-submit">
        <input class="long-submit" type="submit">
      </div>
    
  	</div>
  
  	<div class="col-xs-12 col-sm-6 row-padding">
  		<h1 class="text-center">Profile</h1>
    
      <div class="input form-group">
        <label for="first-name">First Name</label>
        <input class="form-control" id="first-name" type="text" name="user[first_name]" value="<%= @user.first_name %>">
      </div>

      <div class="input form-group">
        <label for="last-name">Last Name</label>
        <input class="form-control" id="last-name" type="text" name="user[last_name]" value="<%= @user.last_name %>">
      </div>
    
      <div class="input form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" type="text" name="user[title]" value="<%= @user.title %>">
      </div>
    
  		<div class="input form-group">
    		<label for="newPass">Password</label>
    		<input class="form-control" id="newPass" type="password" name="user[password]">
      </div>
    
  		<div class="input form-group">
    		<label for="password-confirmation">Confirm Password</label>
    		<input class="form-control" id="password-confirmation" type="password" name="user[password_confirmation]">
      </div>
      
  	</div>
  </form>
</div>