<%= render("form", user: @user) if signed_in? %>
<ul id="users" data-update-url="<%= sort_users_url %>">
  <% @users.each do |user| %>
    <%= content_tag_for :li, user, class: "content" do %>
      <% if current_user_is_admin? %>
        <a href="?action=delete&amp;id=<%= user.id %>" onclick="return confirm('Are you sure you want to delete this agent?')"></a>
        <%= link_to "X", user, method: :delete, class: "delete-button", data: {remote: true, confirm: "Really delete User #{user.name}?"} %>
      <% end %>
  	  <h1><%= user.name %></h1>
  	  <div class="small-avatar">
        <a href="<%= user_url(user) %>">
          <%= image_tag user.avatar.url(:small), class: "photo" %>
        </a>
      </div>
    	<ul class="contact-info">
        <!-- <% if current_user_is_admin? %>
          <li>
            <label for="position_2">Position:</label>
            <select id="position_2" name="position_2" onchange="window.location='?action=position&amp;id=2&amp;position='+this.value">
            <% @users.length.times do |i| %>
              <option <%= "selected" if user.position == i%>><%=i%></option>
            <% end %>
            </select>
          </li>
        <% end %> -->
    		<li><%= user.title %></li>
    		<li class="work-icon"><%= user.work_phone %></li>
    		<li class="mobile-icon"><%= user.mobile_phone %></li>
    		<li class="fax-icon"><%= user.fax %></li>
        <li><%= link_to "Contact Me", user_url(user), class: "button_to long-submit" %></li>
    	</ul>
    <% end %>
  <% end %>
</ul>