<%= render "form", user: @user %>
<% @users.each do |user| %>
  <div class="content">
    <a href="?action=delete&amp;id=<%= user.id %>" onclick="return confirm('Are you sure you want to delete this agent?')"></a>
    <%= link_to "Delete", user, method: :delete, class: "delete-button", data: {remote: true, confirm: "Really delete User #{user.name}?"} %>
  	<h1><%= user.name %></h1>
  	<p style="float: left"><a href="agent.php?id=2">
    <%= image_tag user.avatar.url(:small), class: "photo" %>
    </a></p>
  	<ul style="margin-left: 12px; float: left">
      <% if current_user.is_admin? %>
        <li><label for="position_2">Position</label>
  		<select id="position_2" name="position_2" onchange="window.location='?action=position&amp;id=2&amp;position='+this.value">
        <% @users.length.times do |i| %>
  			  <option <%= "selected" if user.position == i%>><%=i%></option>
        <% end %>
  		</select></li>
      <% end %>
  		<li><%= user.title %></li>
  		<li class="work-icon"><%= user.work_phone %></li>
  		<li class="mobile-icon"><%= user.mobile_phone %></li>
  		<li class="fax-icon"><%= user.fax %></li>
  	</ul>
  	<p style="margin-left: 12px; float: left"><input type="button" value="Contact Me" onclick="window.location='agent.php?id=2'"></p>
  </div>
<% end %>

