<% if signed_in?  %>
  <div class="col-xs-12 col-sm-6">
    <%= render("form", user: @user) %>
  </div>
<% end %>

<ul id="users" class="users <%= "sortable" if current_user_is_admin? %>" data-update-url="<%= sort_users_url %>">
  <% @users.each do |user| %>
    <div class="col-xs-12 col-sm-6 <%= "min-height" if (current_user_is_admin? && user.position && user.position < 2) %>">
      <%= content_tag_for :li, user, class: "" do %>
        <% if current_user_is_admin? %>
        
          <%= link_to "&#10006".html_safe, user, method: :delete, class: "delete-button", data: {remote: true, confirm: "Really delete User #{user.name}?"} %>
        <% end %>
  	  
        <h1><%=  ((signed_in?) ? (link_to user.name, edit_user_path(user)) : user.name) %></h1>
  	    <div class="small-avatar">
          <a href="<%= user_url(user) %>">
            <%= image_tag user.avatar.url(:small), class: "photo" %>
          </a>
        </div>
    	
        <ul class="list-group contact-info">
        
      		<% unless user.title.blank? %>
            <li class="list-group-item blurb" title="Title"><strong><%= user.title %></strong></li>
          <% end %>
          
      		<% unless user.work_phone.blank? %>
            <li class="work-icon list-group-item blurb" title="Work Phone"><%= user.phone_format(:work_phone) %></li>
          <% end %>
          
      		<% unless user.mobile_phone.blank? %>
            <li class="mobile-icon list-group-item blurb" title="Mobile Phone"><%= user.phone_format(:mobile_phone) %></li>
          <% end %>
          
      		<% unless user.fax.blank? %>
            <li class="fax-icon list-group-item blurb " title="Fax"><%= user.phone_format(:fax) %></li>
          <% end %>
          
      		<% unless user.email.blank? %>
            <li class="envelope-icon list-group-item blurb" title="Email">
              <span class="glyphicon glyphicon-envelope fa fa-envelope" aria-hidden="true"></span>
              <%= user.email %>
            </li>
          <% end %>
          
      		<% unless user.email.blank? %>
            <li class="list-group-item blurb">
              <%= link_to "Contact Me", user_url(user), class: "button_to long-submit" %>
            </li>
          <% end %>
      		
      		
      	</ul>
      <% end %>
    </div>
  <% end %>
    
 
  
  <div class="col-xs-12">
    <h1><%= link_to "Get Directions", page_path("directions"), class: "center" %></h1>
  </div>
</ul>