<div class="col-xs-12">
  <%= image_tag @user.avatar.url(:medium), class: "photo" %>
</div>

<div class="col-xs-12">
  <h1><%= @user.name %></h1>
	<h1>Contact Info</h1>
  
  <div class="input">
    <strong>Work: <%= @user.phone_format(:work_phone) %></strong>
  </div>
  
  <div class="input">
    <strong>Cell: <%= @user.phone_format(:mobile_phone) %></strong>
  </div>
  
  <div class="input">
    <strong>Fax: <%= @user.phone_format(:fax) %></strong>
  </div>
</div>
  
<div class="col-xs-12">
	<h1>About Me</h1>
  
	<div class="input">
		<p id="biography" rows="10" cols="33"><%= @user.bio %></p>
  </div>
</div>

