<div class="col-xs-12">
  <div class="page-header text-center">
    <h1>Ted Hierl German Cruise Online Registration Form</h1>
  </div>
</div>

<div class="col-xs-12">
  <div class=" text-center">
    <p>German Entertainment - ** PASSPORT IS REQUIRED FOR THIS TRIP **</p>
    <p>Ft Lauderdale - Aruba - Colombia - Panama Canal - Panama - Costa Rica - Jamaica - Ft. Lauderdale</p>
    <p>**Rates include tickets to all performances - an exclusive of Clark Travel and Ted Hierl**</p>
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 cruising-itinerary row-padding">
	<h2 class="text-center">10 Day Cruise</h2>
  <h3 class="text-center">Nov. 8 - Nov. 18</h3>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Cat</th>
			<th>Deck / Location</th>
			<th>Type</th>
			<th>1st / 2nd</th>
			<th>3rd / 4th</th>
			<th>Single</th>
		</tr>
		<tr>
			<td>ID</td>
			<td>Baja, Caribe, Dolphin</td>
			<td>Inside*</td>
			<td>$1,399.00</td>
      <td>$799.00</td>
      <td>$2,599.00</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Aloha, Plaza</td>
			<td>Inside*</td>
			<td>$1,429.00</td>
      <td>$819.00</td>
      <td>$2,659.00</td>
		</tr>
		<tr>
			<td>IB</td>
			<td>Baja, Caribe, Aloha, Plaza</td>
			<td>Inside*</td>
			<td>$1,459.00</td>
      <td>$829.00</td>
      <td>$2,719.00</td>
		</tr>
		<tr>
			<td>OW</td>
			<td>Emerald (obstructed view)</td>
			<td>Outside*</td>
			<td>$1,499.00</td>
      <td>$849.00</td>
      <td>$2,799.00</td>
		</tr>
		<tr>
			<td>OC</td>
			<td>Fiesta, Plaza</td>
			<td>Outside*</td>
			<td>$1,649.00</td>
      <td>$929.00</td>
      <td>$3,099.00</td>
		</tr>
		<tr>
			<td>BD</td>
			<td>Baja, Caribe, Dolphin</td>
			<td>Out/balcony</td>
			<td>$1,899.00</td>
      <td></td>
      <td>$3,599.00</td>
		</tr>
		<tr>
			<td>BC</td>
			<td>Aloha</td>
			<td>Out/balcony*</td>
			<td>$1,959.00</td>
      <td>$1,079.00</td>
      <td>$3,719.00</td>
		</tr>
		<tr>
			<td>BB</td>
			<td>Baja, Aloha</td>
			<td>Out/balcony*</td>
			<td>$2,019.00</td>
      <td>$1,109.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>MD</td>
			<td>Caribe, Dolphin</td>
			<td>Mini-suite*</td>
			<td>$2,199.00</td>
      <td>$1,199.00</td>
      <td>$4,199.00</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Dolphin, Aloha</td>
			<td>Mini-suite*</td>
			<td>$2,299.00</td>
      <td>$1,249.00</td>
      <td>$4,399.00</td>
		</tr>
	</table>
</div>

<div class="col-xs-6 col-xs-offset-3 row-padding">
  <div class="form text-center">
    <%= simple_form_for @german_cruising_form, html: {class: "form", multipart: true} do |f| %>
      <%= f.error_notification %>
      <% 1.upto(4) do |i| %>
      
          <%= render "passenger", passenger_num: i, form: f %>
        
      <% end %>
      
      <div class="col-xs-6">
        <%= f.input :home_phone, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :alt_phone, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cell_phone, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :email, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :booking_date, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cabin, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :air, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :transfers, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :insurance, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :dining_main_seating, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :special_event_requests, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cabin_circle_num, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cabin_upgrade, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cc_name, disabled: true, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cc_address, disabled: true, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cc_type, disabled: true, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cc_number, disabled: true, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
        <%= f.input :cc_exp, disabled: true, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      <div class="col-xs-6">
      <%= f.input :cc_ccv, disabled: true, html: { class: "form-group" }, input_html: { class: "" } %>
      </div>
      
      <div class="form-actions form-group submit">
        <%= f.button :submit, "Submit Registration"%>
      </div>
      
    <% end %>
  </div>
</div>
