<div class="col-xs-12 col-sm-6 col-md-6 cruising-itinerary row-padding">
	<h2 class="text-center">14 Day Nov 7 - 21</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Cat</th>
			<th>Deck / Location</th>
			<th>Type</th>
			<th>1st / 2nd</th>
			<th>3rd / 4th</th>
			<th>Single</th>
		</tr>
		<tr>
			<td>ID</td>
			<td>Aloha, Baja, Caribe, Dolphin</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,469.00</td>
      <td>$839.00</td>
      <td>$2,239</td>
		</tr>
		<tr>
			<td>IB</td>
			<td>Riviera, Aloha, Baha, Caribe, Dolphin</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
	</table>
</div>


<div class="col-xs-12 col-sm-6 col-md-6 cruising-itinerary row-padding">
	<h2 class="text-center">7 Day Nov 7 - 21 OR Nov 14 - 21</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Cat</th>
			<th>Deck / Location</th>
			<th>Type</th>
			<th>1st / 2nd</th>
			<th>3rd / 4th</th>
			<th>Single</th>
		</tr>
		<tr>
			<td>ID</td>
			<td>Aloha, Baja, Caribe, Dolphin</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,469.00</td>
      <td>$839.00</td>
      <td>$2,239</td>
		</tr>
		<tr>
			<td>IB</td>
			<td>Riviera, Aloha, Baha, Caribe, Dolphin</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
		<tr>
			<td>IC</td>
			<td>Lido, Riviera, Emerald, Plaza</td>
			<td>Inside</td>
			<td>$1,449.00</td>
      <td>$829.00</td>
      <td>$2,199</td>
		</tr>
	</table>
</div>

<div class="col-xs-6 col-xs-offset-3 row-padding">
  <div class="form text-center">
    <%= simple_form_for @german_cruising_form, html: {class: "form"} do |f| %>
      <% 1.upto(4) do |i| %>
        <%= f.input ("first_name_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        <%= f.input ("last_name_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        <%= f.input ("street_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        <%= f.input ("city_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        <%= f.input ("state_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        <%= f.input ("zip_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        <%= f.input ("birthdate_" + i.to_s).to_sym, html: { class: "form-group" }, input_html: { class: "form-control" } %>
        
        
      <% end %>
      
      <%= f.input :home_phone, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :alt_phone, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :cell_phone, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :email, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :booking_date, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :cabin, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :air, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <%= f.input :transfers, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :insurance, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :dining_main_seating, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :special_event_requests, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cabin_circle_num, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cabin_upgrade, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cc_name, disabled: true, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cc_address, disabled: true, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cc_type, disabled: true, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cc_number, disabled: true, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cc_exp, disabled: true, html: { class: "form-group" }, input_html: { class: "form-control" } %>

      <%= f.input :cc_ccv, disabled: true, html: { class: "form-group" }, input_html: { class: "form-control" } %>
      
      <div class="form-actions form-group submit">
        <%= f.button :submit, "Submit Registration"%>
      </div>
      
    <% end %>
  </div>
</div>
