<div class="contentFull">
  <a class="hovertext" target="_blank" title="Click for step by step directions." href="<%= "https://www.google.com/maps/dir//#{CGI.escape(ENV["ADDRESS"])}"%>">
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{CGI.escape(ENV["ADDRESS"])}&zoom=14&size=700x332&key=#{ENV["GOOGLE_API_KEY"]}&markers=size:mid%7Ccolor:blue%7Clabel:C%7C#{CGI.escape(ENV["ADDRESS"])}", class: "map photo" %>
  </a>
  <div class="contentFull no-image">
    <h1>Phone: (908) 595-0400</h1>
    <%= ENV["ADDRESS"] %> 
    <br>Clark Travel is located on the corner of Route 22 East and County Line Road
    <br>in Branchburg at Hunterdon Somerset Professional Office Park.
    <br><br><%= link_to "Contact Us", users_url %> to schedule an appointment or call if you have any questions. 
    <br>We are always happy to help!
  </div>
  <div class="contentFull no-image">
    <h1>Office Hours</h1>
    <br>M - F: 9:00am - 5:00pm
    <br>Evenings and Saturday hours by <%= link_to "appointment", users_url %>
  </div>
  
</div>

