<div class="row-padding">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="disney center">
      <a class="" target='_blank' href="https://www.disneytravelcenter.com/ec83c64327/">
        <%= image_tag("abd.png") %>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="disney center">
      <a class="" target='_blank' href="https://www.disneytravelcenter.com/ecbbb5c487/">
        <%= image_tag("dlr.png") %>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="disney center">
      <a class="" target='_blank' href="https://www.disneytravelcenter.com/ec9b866e3c/">
        <%= image_tag("dcl.png") %>
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="disney center">
      <a class="" target='_blank' href="https://www.disneytravelcenter.com/ecf76f6533/">
        <%= image_tag("wdw.png") %>
      </a>
    </div>
  </div>

    <div class="col-xs-12">
      <div class="disney center aulani">
        <a class="" target='_blank' href="https://www.disneytravelcenter.com/ec502c2d54/">
          <%= image_tag("Aulani_logo.png") %>
        </a>
      </div>
    </div>


  <div class="col-xs-12 row-padding disney-planner">
    <%= image_tag("disney_earmark.jpg", class: "right") %>
    
    <span class="">
      <p>We have been designated by Disney Destinations as an “Authorized Disney Vacation Planner” based on our strong support in selling Disney Vacations.</p>

      <p>Clark Travel has been in business in Branchburg, NJ for   35+ years and has gained specialized knowledge on vacations to the Disneyland® Resort, Walt Disney® World Resort, Disney Cruise Line®, and Adventures by Disney vacations.</p>

      <p>Many travel counselors at Clark Travel have received extensive training on Disney Destinations theme parks, resorts, cruises, vacation packages and more, and can provide the utmost in professional assistance in planning customized Disney vacations.  In fact, one reason the agency attained the “Authorized Disney Vacation Planner” status is that at least 50 percent of the frontline leisure travel are College of Disney Knowledge graduates.  The College of Disney Knowledge is an in-depth comprehensive course that allows agents to develop their expertise regarding the Disney Destinations – knowledge that consumers can take advantage of when planning a Disney vacation.</p>
    </span>
  </div>
</div>