<div class="col-xs-12 cruising">
  <figure class="figure">
  	<%= image_tag("Emerald princess.jpg", class: "") %>
    
    <figcaption class="">
      <h1>Ted Hierl's German American Radio Cruise</h1>
      
    	<p>Princess is celebrating their 50th Anniversary in 2015. What better time to join us on this fantastic 14 night cruise.</p>
    	<p>During these two 7 night voyages you will experience both, the Eastern and Western Caribbean with their beautiful Islands. We're sailing round trip from Ft. Lauderdale, Florida, and you can choose between the 14 night cruise or one of the 7 night cruises.</p>
      <p>Our outstanding entertainers from Germany will be along for the entire 14 days. We're sure you will have a lot of fun at our exclusive parties and shows with these artists, because everyone always enjoys the dancing and Gemuetlichkeit.</p>
      <p><strong>To register, click the link below. Download the form and send it to this <%= link_to "address.", page_path("directions") %></strong></p>
    </figcaption>
  </figure>
	
</div>

<div class="col-xs-12 col-sm-6 col-md-6 cruising-itinerary row-padding">
	<h2 class="center">Itinerary</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Day</th>
			<th>Port</th>
			<th>Arrive</th>
			<th>Depart</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Ft. Lauderdale, Florida</td>
			<td></td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Princess Cays, Bahamas</td>
			<td>9:00AM</td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>3</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>St. Maarten</td>
			<td>10:00AM</td>
			<td>6:00PM</td>
		</tr>
		<tr>
			<td>5</td>
			<td>St. Thomas, US Virgin Islands</td>
			<td>7:00AM</td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Grand Turk, Turks & Caicos</td>
			<td>1:00PM</td>
			<td>7:00PM</td>
		</tr>
		<tr>
			<td>7</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>8</td>
			<td>Ft. Lauderdale, Florida</td>
			<td>7:00AM</td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td></td>
			<td>Saturday, November 14</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>9</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>10</td>
			<td>Grand Cayman, Cayman Islands</td>
			<td>7:00AM</td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Island of Roatan, Honduras</td>
			<td>10:00AM</td>
			<td>5:00PM</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Island of Cozumel, Mexico</td>
			<td>7:00AM</td>
			<td>5:00PM</td>
		</tr>
		<tr>
			<td>13</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>14</td>
			<td>Princess Cays, Bahamas </td>
			<td>9:00AM</td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Ft. Lauderdale, Florida</td>
			<td>7:00AM</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 cruising-links row-padding">
	
  <h2 class="center">Registration:</h2>  
  
  <ul class="list-group center">
    <li class="list-group-item">
      <%= link_to image_url("Emerald-Deck Plan.pdf"), class: "center", target: "_blank" do %>
        Deck Plan PDF
        <i class="fa fa-file-pdf-o fa-lg"></i>
      <% end %>  
    </li>
    <li class="list-group-item">
      <%= link_to image_url("Hierl_CarribCruise2015_Full.pdf"), class: "center", target: "_blank" do %>
        Registration Form PDF
        <i class="fa fa-file-pdf-o fa-lg"></i>
      <% end %>        
    </li>
    <li class="list-group-item">
      <%= link_to new_german_cruising_form_url, class: "center disabled" do %>
        Register Online
        <i class="fa fa-envelope-o fa-lg"></i>
      <% end %>
    </li>

   
  </h2>
</div>
<div class="col-xs-12">
  <h1 class="center contact-us" id="contact-us"><%= link_to "Contact an agent to learn more!", user_url(User.where(first_name: "Ulrike", last_name: "Ocasio").first.id, inquiry: "Ted Hierl's German American Radio Cruise"), class: "center" %></h1>
</div>