<div class="col-xs-12 cruising tint background-image row-padding">
  <figure class="figure">  
    <div class="text-center">
      <h1>Ted Hierl's German American Radio Cruise</h1>
      
    	<p>We hope you will join us on this great cruise to
one of the seven wonders of the world, the
Panama Canal. The Coral Princess was specially
built to pass through the mighty Gatun Locks en
route to Gatun Lake.</p>
<p>During this trip, we will also visit some other
fabulous Caribbean Islands.</p>
<p>As always, some of Germany's outstanding
entertainers will accompany us on this 10 day
voyage. Besides the entertainment provided by
Princess, you will also enjoy our exclusive
shows and parties. </p>
      <p><strong>To register, click the link below. Download the form and send it to this <%= link_to "address.", page_path("directions") %></strong></p>
    </div>
  </figure>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 cruising-itinerary row-padding">
	<h2 class="center">Itinerary</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Day</th>
			<th>Port</th>
			<th>Arrive</th>
			<th>Depart</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Ft. Lauderdale, Florida</td>
			<td></td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>2</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Aruba</td>
			<td>7:00AM</td>
			<td>12:30PM</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Cartagena, Columbia</td>
			<td>9:00AM</td>
			<td>3:00PM</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Panama Canal, Panama & Gatun Lake cruising</td>
			<td>6:00AM</td>
			<td>3:30PM</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Limon, Costa Rica</td>
			<td>7:00AM</td>
			<td>6:00PM</td>
		</tr>
		<tr>
			<td>8</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>9</td>
			<td>Ocho Rios, Jamaica</td>
			<td>9:00AM</td>
			<td>4:00PM</td>
		</tr>
		<tr>
			<td>10</td>
			<td>At Sea</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>11</td>
			<td>Ft. Lauderdale, Florida</td>
			<td>7:00AM</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 cruising-links row-padding">
	
  <h2 class="center">Registration:</h2>  
  
  <ul class="list-group center">
    <li class="list-group-item">
      <%= link_to image_url("Emerald-Deck Plan.pdf"), class: "center", target: "_blank" do %>
        Deck Plan PDF
        <i class="fa fa-file-pdf-o fa-lg"></i>
      <% end %>  
    </li>
    <li class="list-group-item">
      <%= link_to image_url("Hierl_CarribCruise2016.pdf"), class: "center", target: "_blank" do %>
        Registration Form PDF
        <i class="fa fa-file-pdf-o fa-lg"></i>
      <% end %>        
    </li>
    <li class="list-group-item">
      <%= link_to new_german_cruising_form_url, class: "center disabled" do %>
        Register Online
        <i class="fa fa-envelope-o fa-lg"></i>
      <% end %>
    </li>

   
  </h2>
</div>
<div class="col-xs-12">
  <h1 class="center contact-us" id="contact-us"><%= link_to "Contact an agent to learn more!", user_url(User.where(first_name: "Ulrike", last_name: "Ocasio").first.id, inquiry: "Ted Hierl's German American Radio Cruise"), class: "center" %></h1>
</div>