<div class="col-xs-12 col-sm-6 col-md-4 resource">
  <div class="resource-container">
  	<h1>Air Delays</h1>
  
  	<%= image_tag("/assets/small/resources_air_delays.gif", class: "left", alt: "Air Delays") %>
  
  	<ul class="list-group">
  		<li class="list-group-item"><a href="http://www.fly.faa.gov/flyfaa/usmap.jsp" onclick="this.target='_blank'">Federal Aviation Administration</a></li> 
  		<li class="list-group-item"><a href="http://www.flightstats.com/" onclick="this.target='_blank'">Flight Stats</a></li> 
  	</ul>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 resource">
  <div class="resource-container">
  	<h1>Currency Conversion</h1>
  
  	<%= image_tag("resources_currency_conversion.gif", class: "left", alt: "Currency Conversion") %>
  
  	<ul class="list-group"> 
  		<li class="list-group-item"><a href="http://www.oanda.com/convert/classic" onclick="this.target='_blank'">FX Currency Converter</a></li> 
  		<li class="list-group-item"><a href="http://www.xe.com/ucc/" onclick="this.target='_blank'">XE Currency Converter</a></li> 
  	</ul>
  </div>
  
</div>

<div class="col-xs-12 col-sm-6 col-md-4 resource">
  <div class="resource-container">
  	<h1>Airports</h1>
  
  	<%= image_tag("resources_airports.gif", class: "left", alt: "Airports") %>
  
  	<ul class="list-group">
  		<li class="list-group-item"><a href="http://www.mapping.com/airportcodes.html" onclick="this.target='_blank'">Worldwide Airports</a></li> 
  		<li class="list-group-item"><a href="http://www.panynj.gov/airports/jfk.html" onclick="this.target='_blank'">JFK International</a></li> 
  		<li class="list-group-item"><a href="http://www.panynj.gov/airports/laguardia.html" onclick="this.target='_blank'">LaGuardia</a></li> 
  		<li class="list-group-item"><a href="http://www.panynj.gov/airports/newark-liberty.html" onclick="this.target='_blank'">Newark</a></li> 
  	</ul>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 resource">
  <div class="resource-container">
  	<h1>Insurance</h1>
  
    <%= image_tag("resources_insurance.gif", class: "left", alt: "Insurance") %>
  
  	<ul class="list-group"> 
  		<li class="list-group-item"><a href="http://www.travelguard.com/agentlink.asp?ta_arc=31731744&amp;pcode=" onclick="this.target='_blank'">Travel Guard</a></li> 
  	</ul>
  </div>
  
</div>

<div class="col-xs-12 col-sm-6 col-md-4 resource">
  <div class="resource-container">
  	<h1>Security</h1>
  
  	<%= image_tag("resources_security.gif", class: "left", alt: "Security") %>
  
  	<ul class="list-group">
  		<li class="list-group-item"><a href="http://cia.gov/cia/publications/factbook/index.html" onclick="this.target='_blank'">CIA World Factbook</a></li> 
  		<li class="list-group-item"><a href="http://travel.state.gov/" onclick="this.target='_blank'">Travel Warnings</a></li> 
  		<li class="list-group-item"><a href="http://www.faa.gov/" onclick="this.target='_blank'">Federal Aviation Administration</a></li> 
  		<li class="list-group-item"><a href="http://www.dot.gov/" onclick="this.target='_blank'">Department of Transportation</a></li> 
  		<li class="list-group-item"><a href="http://www.panynj.gov/aviation/avmain.HTM" onclick="this.target='_blank'">Port Authority</a></li> 
  		<li class="list-group-item"><a href="http://www.weather.com/" onclick="this.target='_blank'">Weather</a></li> 
  	</ul>
  </div>
  
</div>




<div class="col-xs-12 col-sm-6 col-md-4 resource">
  <div class="resource-container">
  	<h1>Resources</h1>
  
  	<%= image_tag("resources_resources.gif", class: "left", alt: "Resources") %>
  
  	<ul class="list-group">
  		<li class="list-group-item"><a href="http://www.iceportal.com/ICE/WTVPortal/Pages/IceSearch.aspx" onclick="this.target='_blank'">Interactive World Map</a></li> 
  		<li class="list-group-item"><a href="http://www.shoretrips.com/" onclick="this.target='_blank'">ShoreTrips Shore Excursions</a></li> 
  		<li class="list-group-item"><a href="http://www.nhc.noaa.gov/" onclick="this.target='_blank'">National Hurricane Center</a></li> 
  		<li class="list-group-item"><a href="http://www.nws.noaa.gov/" onclick="this.target='_blank'">National Weather Service</a></li> 
  	</ul>
  </div>
  
</div>