<div class="contentFull">
	<table id="promotions-table" class="nudge-left promotions-table">
		<tbody>
      <tr>
  			<th>Title</th>
  			<th>Photo</th>
  			<th>Start</th>
  			<th>Expire</th>
  			<th>Days Remaining</th>
  			<th>Edit</th>
  			<th>Delete</th>
		  </tr>
	
      <% promotions.each do |promotion| %>
    		<tr>
        	<td><strong><%= link_to promotion.title, promotion_url(promotion) %></strong></td>
    			<td>
            <a href="<%= edit_promotion_url(promotion) %>" onclick="this.target='_blank'"><%= image_tag promotion.picture.url(:small), class: "photo" %></a>
    			</td>
          <td><%= promotion.start_date.strftime("%d/%m/%Y") %></td>
    			<td><%= promotion.expiration_date.strftime("%d/%m/%Y") %></td>
    			<td><span style="color: #6599FF"><%= promotion.overdue_by_str %></span></td>
          <td><%= link_to edit_promotion_url(promotion) do  image_tag("edit-icon-32.png") end %></td>
    			<td><%= link_to "&#10006".html_safe, promotion_url(promotion), method: :delete, data: { confirm: "Really delete Promotion \"#{promotion.title}\"?" }, class: "right" if current_user_is_admin? %>
    		</tr>
      <% end %>
	  </tbody>
  </table>
</div>