
<% content_for :head do %>
  <meta property="fb:app_id" content="<%= ENV["FACEBOOK_APP_ID"] %>" />
  <meta property="og:url" content="<%= promotion_url(@promotion) %>" />
  <meta property="og:title" content="<%= @promotion.title || @promotion.highlight %>" />
  <meta property="og:description" content="<%= @promotion.description_tag_str %>" />
  <meta property="og:image" content="<%= @promotion.picture.url(:medium) || @promotion.picture.url(:thumb) %>" />
  <meta property="og:type" content="article" />

<% end %>

<div class="col-xs-12 text-center">
  <% if current_user_is_admin? %>  
    <%= link_to "&#10006".html_safe, promotion_url(@promotion), method: :delete, confirm: "Really delete Promotion \"#{@promotion.title}\"?", class: "right delete-button" %>
    <%= link_to edit_promotion_url(@promotion), class: "right" do image_tag("edit-icon-32.png") end %>
  <% end %>
	<h1><%= @promotion.title %></h1>
  
	<p><%= image_tag @promotion.picture.url(:large), class: "photo" %></p>
</div>
<div class="col-xs-12 text-center">  
	<h1><%= @promotion.highlight if @promotion.present? %></h1>
  
	<p id="body"><%= simple_format @promotion.body if @promotion.present? %></p>
</div>
<div class="col-xs-12 text-center">
	<h3>Promotion Timeline</h3>
  
  <div class="">
    <label for="start-date">Start:
    <p id="start-date"><%= @promotion.start_date %></p></label>
  </div>
  
  <div class="">
    <label for="expiration-date">Expiration:</label>
    <p id="expiration-date"><%= @promotion.expiration_date %></p>
  </div>
</div>

<div class="col-xs-12 text-center">
  <h1 class="center"><%= link_to "Contact us to learn more!", user_url(@promotion.user, inquiry_id: @promotion.id), class: "center" %></h1>
</div>