<header class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="main-navigation" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_url, class: "navbar-brand", alt: "home" do %>
          <%= image_tag("clark_travel_logo.png", alt: "home") %>
        <% end %>
      </div>
    
      <div class="collapse navbar-collapse navbar-inverse" id="navbar-collapse-1">
       
        <ul class="navigation nav navbar-nav">
          <!-- <li class=""><a href="/">HOME</a></li> -->
        	<li class="">
            <%= link_to "eBrochures", "http://brochurerack.book-my-offer.com/AgentBrochureRack.aspx?arid=ae326916787c60d02f095d8233c27696", role: "menuitem", tabindex: "-1"  %>
          </li>
        	<li class=""><%= link_to "Disney", page_path("disney") %></li>
          <li class=""><a href="<%= page_path("german_cruising") %>">German-American Cruise</a></li>
        	<li class=""><a href="<%= booking_categories_path %>">Book Online</a></li>
        	<li class=""><a href="<%= page_path("resources") %>">Resources</a></li>

        	

        </ul>
        
        <ul class="navigation nav navbar-nav nav-right sticky-nav">
        	<li class=""><a href="<%= page_path("about") %>">About</a></li>
        	<li class=""><a href="<%= users_url %>">Contact</a></li>
        	<li class=""><a href="<%= testimonials_url %>">Testimonials</a></li>
        	<li class=""><a href="<%= page_path("directions") %>">Directions</a></li>
          <% if signed_in? %>
          	<li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle", id: "dropdownAgent", role: "button", data: { toggle: "dropdown"} do %>
                <%= "#{current_user.name }" %>
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownAgent">
                <li role="presentation"><%= link_to "Profile", edit_user_url(current_user), role: "menuitem", tabindex: "-1"  %></li>
                <li role="presentation"><%= link_to("Logout", session_url(), class: "logout",  method: :delete, role: "menuitem", tabindex: "-1" )%></li>
              </ul>
            </li>
           
                  
          <% else %>
            <li><%= link_to "Agent Login", new_session_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>   
</header>