<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clark Travel</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico?v=2' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


  <!-- Begin header. ********************************************************* -->
    <%= render "layouts/header" %>

  <!-- End header. *********************************************************** -->
  
  <!-- Begin Notification Area. *********************************************** -->
  
    <%= render "layouts/messages", messages_arr: flash[:notices], class_name: "notices" if flash[:notices] %>
    <%= render "layouts/messages", messages_arr: flash[:errors], class_name: "errors" if flash[:errors] %>
  
  <!-- End Notification Area. ************************************************* -->
  

  <!-- Begin standard content. *********************************************** -->
  <main class="container-fluid">
  
    <div class="row">
      <div class="main-content">
      	<%= yield %>
        <%= yield :js %>
      </div>
    </div>    
              
  </main>
  

  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
    <%= render "layouts/footer" %>
  <!-- End footer. *********************************************************** -->

</body>
</html>
