<!DOCTYPE html>
<html>
<head>
  <title>Clark Travel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <!-- Begin header. ********************************************************* -->
  <div class="header">
  	<a class="logo" href="/">Clark∂Travel</a>
  	<div class="location">
      <%= link_to "3461 Route 22 East (Corner of County Line Rd.)<br>Branchburg NJ 08876<br>(908) 595-0400<br>Fax (908) 595-0410".html_safe, page_url("directions") %>
  	</div>
    <div class="logins">
    <% if current_user %>
    		Welcome: <%= link_to current_user.name, edit_user_url(current_user) %><br>
        <!-- <%= link_to_destroy("Logout", session_url, session_url) %> -->
        <%= link_to "Logout", session_url, method: :delete, class: "logout" %>
    <% else %>
      <a href="<%= new_session_url %>">Agent Login</a>
    <% end %>
    </div>
    <ul class="navigation">
    	<li class="nav-li"><a href="/">Home</a></li>
    	<li class="nav-li"><a href="#">Testimonials</a></li>
    	<li class="nav-li"><a href="#">Travel Resources</a></li>
    	<li class="nav-li"><a href="#">Disney</a></li>
    	<li class="nav-li"><a href="#">About Us</a></li>
    	<li class="nav-li"><a href="#">2014 German Cruise</a></li>
    	<li class="nav-li"><a href="#"><img src="/assets/navigation_book_now.png" alt="BOOK"></a></li>
    	<li class="nav-li right"><a href="<%= users_url %>">Contact Us</a></li>
    </ul>
  </div>
  
  <!-- End header. *********************************************************** -->

  <!-- Begin standard content. *********************************************** -->
  <div class="content">
  	<%= yield %>
  </div>
  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
  <div class="footer">
  	<img src="/assets/let_us_plan_it.jpg" alt="Let us plan your next vacation!">
  	<p>3461 Route 22 East (Corner of County Line Rd.)<br>
  	Branchburg NJ 08876<br>
  	(908) 595-0400<br>
  	Fax (908) 595-0410<br>
  <% unless current_user %>
  	<a href="<%= new_session_url %>">Agent Login</a></p>
  <% end %>
  	<a href="http://www.AyosInformatics.com/">
  		<img src="/assets/ayos_final_100x50.gif" alt="Ayos Informatics"></a>
    <div class="copyright">
      <small>© Ayos Informatics, LLC 2014</small>
    </div>
  </div>
  <!-- End footer. *********************************************************** -->

</body>
</html>
