<!DOCTYPE html>
<html>
<head>
  <title>Clark Travel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico?v=2' %>
</head>
<body>

  <!-- Begin header. ********************************************************* -->
    <%= render "layouts/header" %>

  <!-- End header. *********************************************************** -->
  
  <!-- Begin Notification Area. *********************************************** -->
  
    <%= render "layouts/messages", messages_arr: flash[:notices], class_name: "notices" if flash[:notices] %>
    <%= render "layouts/messages", messages_arr: flash[:errors], class_name: "errors" if flash[:errors] %>
  
  <!-- End Notification Area. ************************************************* -->
  

  <!-- Begin standard content. *********************************************** -->
  <main class="content">
  	<%= yield %>
  </main>
  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
    <%= render "layouts/footer" %>
  <!-- End footer. *********************************************************** -->

</body>
</html>
