<!DOCTYPE html>
<html>
<head>
  <title>Clark T.pngravel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Begin header. ********************************************************* -->
  <div class="header">
  	<a href="/"><img src="/assets/clark_travel_logo.png" alt="Clark Travel"></a>
  	<div class="location">
  		3461 Route 22 East (Corner of County Line Rd.)<br>
  		Branchburg NJ 08876<br>
  		(908) 595-0400<br>
  		Fax (908) 595-0410
  	</div>
    <div class="location">
    <% if current_user %>
    		Welcome Ulrike Ocasio<br>
    		<a href="profile.php">My Profile</a><br>
    		<a href="login.php?action=switch">Switch User</a><br>
    		<a href="logout.php">Logout</a>
    <% else %>
      <a href="<%= new_session_url %>">Agent Login</a>
    <% end %>
    </div>
  </div>
  <ul class="navigation">
  	<li><a href="/">Home</a></li>
  	<li><a href="testimonials.php">Testimonials</a></li>
  	<li><a href="resources.php">Travel Resources</a></li>
  	<li><a href="disney.php">Disney</a></li>
  	<li><a href="about.php">About Us</a></li>
  	<li><a href="german_cruise.php">2014 German Cruise</a></li>
  	<li><a href="search.php"><img src="assets/navigation_book_now.png" alt="BOOK"></a></li>
  	<li style="float: right"><a href="contact.php">Contact Us</a></li>
  </ul>
  <!-- End header. *********************************************************** -->

  <!-- Begin standard content. *********************************************** -->
  <div class="content">
  	<%= yield %>
  </div>
  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
  <div class="footer">
  	<img src="assets/let_us_plan_it.jpg" alt="Let us plan your next vacation!">
  	<p>3461 Route 22 East (Corner of County Line Rd.)<br>
  	Branchburg NJ 08876<br>
  	(908) 595-0400<br>
  	Fax (908) 595-0410<br>
  	<a href="<%= new_session_url %>">Agent Login</a></p>
  	<a href="http://www.AyosInformatics.com/">
  		<img src="assets/ayos_informatics.gif" alt="Ayos Informatics"></a>
  </div>
  <!-- End footer. *********************************************************** -->

</body>
</html>
