<!DOCTYPE html>
<html>
<head>
  <title>Clark Travel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico?v=2' %>
</head>
<body>

  <!-- Begin header. ********************************************************* -->
  <header class="header">
  	<a class="logo hide-text" href="/">Clark Travel</a>
    <div class="group">
      <ul class="logins">
      <% if current_user %>
      		Welcome: <%= link_to current_user.name, edit_user_url(current_user) %><br>
          <!-- <%= link_to_destroy("Logout", session_url, session_url) %> -->
          <%= link_to "Logout", session_url, method: :delete, class: "logout hidden" %>
      <% else %>
        <a href="<%= new_session_url %>">Agent Login</a>
      <% end %>
      </ul>
      <ul class="navigation">
      	<li class="nav-li"><a href="/">HOME</a></li>
      	<li class="nav-li"><a href="<%= testimonials_url %>">TESTIMONIALS</a></li>
      	<li class="nav-li"><a href="<%= page_path("resources") %>">RESOURCES</a></li>
      	<li class="nav-li"><a href="#">DISNEY</a></li>
      	<li class="nav-li"><a href="#">ABOUT US</a></li>
      	<li class="nav-li"><a href="<%= page_path("german_cruising") %>">GERMAN CRUISES</a></li>
      	<li class="nav-li"><a href="#">BOOK</a></li>
      	<li class="nav-li right"><a href="<%= users_url %>">Contact Us</a></li>
      </ul>
    </div>
  </header>

  <!-- End header. *********************************************************** -->

  <!-- Begin standard content. *********************************************** -->
  <main class="content">
  	<%= yield %>
  </main>
  <!-- End standard content. ************************************************* -->

  <!-- Begin footer. ********************************************************* -->
  <%= render "layouts/footer" %>
  <!-- End footer. *********************************************************** -->

</body>
</html>
